In [10]:
import pandas as pd

In [11]:
pd.set_option('display.max_columns', None)
df = pd.read_csv('adult.data', header = None)
df.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 
              'marital-status', 'occupation', 'relationship', 'race', 'sex',
             'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### 1) Число столбцов в наборе данных

In [12]:
len(df.columns)

15

### 2) Есть ли пропуски в данных? Если есть, то в каких столбцах

In [13]:
emptyСolumns = []
for column in df.columns:
    if df[column].isin([' ?']).any():
        emptyСolumns.append(column)
if len(emptyСolumns) == 0:
    print('Пропусков нет')
else:
    for column in emptyСolumns:
        print(f"{column}: {df[df[column] == ' ?'].shape[0]}")

workclass: 1836
occupation: 1843
native-country: 583

### 3) Кол-во уникальных значений в столбце race

In [14]:
df['race'].nunique()

5

### 4) Медиана hours-per-week

In [15]:
df['hours-per-week'].median()

np.float64(40.0)

### 5) Кого больше - женщин или мужчин с ЗП >50K?

In [16]:
income = df['income'] == ' >50K'
men = df[income]['sex'].value_counts()[' Male']
women = df[income]['sex'].value_counts()[' Female']
if men > women:
    print('Мужчин')
elif women > men:
    print('Женщин')
else:
    print('Одинаково мужчин и женщин')

Мужчин

### 6) Заполните пропущенные данные в отдельных столбцах наиболее встречаемыми значениями. Как еще можно было бы заполнить пропущенные данные?

In [17]:
emptyColumns = ['workclass', 'occupation', 'native-country']
for columns in emptyColumns:
    modeValue = df[columns].mode().values[0]
    df.replace({columns: ' ?'}, modeValue, inplace = True)

In [18]:
emptyСolumns = []
for column in df.columns:
    if df[column].isin([' ?']).any():
        emptyСolumns.append(column)
if len(emptyСolumns) == 0:
    print('Пропусков нет')
else:
    for column in emptyСolumns:
        print(f"{column}: {df[df[column] == ' ?'].shape[0]}")

Пропусков нет

## Ответы на вопросы

### 1) Число столбцов в наборе данных: 15
### 2) Есть пропуски, в столбцах workclass, occupation, native-country
### 3) Кол-во уникальных значений в столбце race: 5
### 4) Медиана hours-per-week: 40
### 5) С ЗП >50K мужчин больше
### 6) Помимо наиболее встречаемых значений, можно было бы заполнить пропуски с использованием предыдущего значения (forward fill), с использованием следующего значения (backward fill), и с использованием наиболее вероятного значения на основе других столбцов (с помощью модели)